@{
    ViewBag.Title = "Info";
}

<div class="info-col-md-6 col-sm-12 pd-0">
    <div class="info-home-11-skill-left equal-elem" style="height: 643px;">
        <div class="info-home-11-skill-left-content">
            <h2 class="font-48 color-fff">@ViewBag.subject</h2>
            <p class="mb-20 mt-20 font-18"></p>
            <figure class="mb-45"></figure>
            <p class="mb-20 font-18">@ViewBag.body</p>
            <p>@Html.ActionLink("HOME", "Index", "Home", null, new { @class = "btn btn-21" })</p>
        </div>
    </div>
</div>