<div id="example-wrapper" class="page-404">
    <div class="div-box">
        <figure class="img-404"><img src="~/Content/images/demo/page-404.jpg" alt="" />
            @Html.ActionLink("Please return to homepage", "Index", "Home", null, new { @class = "return-home" })
        </figure>
    </div>
    <div class="div-box">
        <div class="slider-instagram">
            <div data-number="8" data-margin="0" data-loop="no" data-navcontrol="yes" class="begreen-owl-carousel">
                <div><a href="#"><img src="~/Content/images/demo/instagram-1.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-2.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-3.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-4.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-5.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-6.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-7.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-8.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-6.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-7.jpg" alt="instagram" /></a></div>
                <div><a href="#"><img src="~/Content/images/demo/instagram-8.jpg" alt="instagram" /></a></div>
            </div>
            <div class="slider-instagram-absolute-1 container">
                <div class="slider-instagram-absolute-1-content">
                    <h3>Instagram.</h3>
                </div>
            </div>
            <div class="slider-instagram-absolute-2 container">
                <div class="slider-instagram-absolute-2-content"><a href="#" class="btn btn-11">@@begreen.yolo</a></div>
            </div>
        </div>
    </div>
</div>