@{
    ViewBag.Title = "BeGreen";
}

<div id="example-wrapper">
    <div class="div-box">
        <div class="slider-home slider-home-11">
            <div data-number="1" data-margin="0" data-loop="yes" data-navcontrol="yes" data-dots="no" class="begreen-owl-carousel">
                <div class="slider-1">
                    <div class="slider-content slider-1-content">
                        <h2>Well come</h2>
                        <h6>to</h6>
                        <h2>green garden</h2>
                        <p><a class="btn btn-10">Watch now</a></p>
                    </div>
                </div>
                <div class="slider-2">
                    <div class="slider-content slider-2-content">
                        <h2>Well come</h2>
                        <h6>to</h6>
                        <h2>green garden</h2>
                        <p><a class="btn btn-10">Watch now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-skill equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 pd-0">
                    <div class="home-11-skill-left equal-elem">
                        <div class="home-11-skill-left-content">
                            <h2 class="font-48 color-fff">About</h2>
                            <p class="mb-20 mt-20 font-18"><i>Lorem ipsum dolor sit amet libero laoreet</i></p>
                            <figure class="mb-45"><img src="~/Content/images/demo/sep-ab-home6.jpg" alt="sep-ab-home6" /></figure>
                            <p class="mb-20 font-18">Nec maecenas a ullamcorper quam tellus et. Eros nibh non scelerisque sed suspen disse lac consectetuer tristique praesent proin porttitor lorem nullam duis.</p>
                            <p class="mb-20 font-18">Sodales id a consectetuer duis praesent pulvinar condimentum cras arcu, eros sema mespendisse dignissim semper tempor. Proin suscipit lorem soll tortor nibhsem tempor hymenaeos.</p>
                            <p><a href="#" class="btn btn-21">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0">
                    <div class="skill-right equal-elem">
                        <h2 class="title-style title-style-1 mb-45 font-48"><span class="title-left">Planting </span><span class="title-right">Skills </span></h2>
                        <p class="font-18 mb-20">Lorem ipsum dolor sit amet, vel inventore lacus sapien ullamcorper. Suscipit ut nulla purus, erat mattis nisl potenti pellentesque ridiculus. </p>
                        <div class="progress-wrap-style-1 wow">
                            <div class="progress-wrap-top">
                                <div class="text">Photograph </div>
                                <div class="percent">85%</div>
                            </div>
                            <div data-progress-percent="85" class="progress-wrap progress">
                                <div class="progress-bar progress"></div>
                            </div>
                        </div>
                        <div class="progress-wrap-style-1 wow mb-20">
                            <div class="progress-wrap-top">
                                <div class="text">NYC Office Plants </div>
                                <div class="percent">68%</div>
                            </div>
                            <div data-progress-percent="68" class="progress-wrap progress">
                                <div class="progress-bar progress"></div>
                            </div>
                        </div>
                        <div class="progress-wrap-style-1 wow mb-20">
                            <div class="progress-wrap-top">
                                <div class="text">Deliver Plants </div>
                                <div class="percent">60%</div>
                            </div>
                            <div data-progress-percent="60" class="progress-wrap progress">
                                <div class="progress-bar progress"></div>
                            </div>
                        </div>
                        <div class="progress-wrap-style-1 wow mb-20">
                            <div class="progress-wrap-top">
                                <div class="text">Feild Manager </div>
                                <div class="percent">75%</div>
                            </div>
                            <div data-progress-percent="75" class="progress-wrap progress">
                                <div class="progress-bar progress"></div>
                            </div>
                        </div>
                        <div class="progress-wrap-style-1 wow mb-20">
                            <div class="progress-wrap-top">
                                <div class="text">Design Consultant </div>
                                <div class="percent">56%</div>
                            </div>
                            <div data-progress-percent="56" class="progress-wrap progress">
                                <div class="progress-bar progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-cultivate equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 pd-0 equal-elem">
                    <div class="home-11-cultivate-left">
                        <h6> <span class="color-base">Cultivate</span><span>Planters</span><span>Make a Happy</span></h6>
                        <figure class="mb-20 mt-20"><img src="~/Content/images/demo/sep-ab-home6.jpg" alt="sep-ab-home6" /></figure>
                        <p class="font-18 mb-20">Lorem ipsum dolor sit amet, scelerisque sit venenatis purus proin blandit eget vestic diam neque curabitur maecenas ultricies dolor vitae adipiscing.</p>
                        <ul class="cultivate-list">
                            <li><i class="fa fa-check-square-o"></i>Expert Operators</li>
                            <li><i class="fa fa-check-square-o"></i>Licensed & Insured</li>
                            <li><i class="fa fa-check-square-o"></i>Excellent Services</li>
                            <li><i class="fa fa-check-square-o"></i>Over 10 Years Of Experience</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0 hide-991 equal-elem">
                    <div class="home-11-cultivate-right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-products equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 pd-0 hide-991 equal-elem">
                    <div class="home-11-products-left"></div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0 equal-elem">
                    <div class="home-11-products-right">
                        <div data-number="1" data-margin="0" data-loop="yes" data-navcontrol="yes" data-autoplay="yes" class="begreen-owl-carousel">
                            <div class="shortcode-product-wrap product-begreen columns-2">
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-new product-flash">New</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-1.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-hot product-flash">Hot</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-2.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shortcode-product-wrap product-begreen columns-2">
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-new product-flash">20%</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-4.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price">
                                                    <del><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>49.00</span></del><ins><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></ins>
                                                </span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-hot product-flash">Hot</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-5.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-number="1" data-margin="0" data-loop="yes" data-navcontrol="yes" data-autoplay="yes" class="begreen-owl-carousel">
                            <div class="shortcode-product-wrap product-begreen columns-2">
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-6.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-hot product-flash">Hot</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-7.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shortcode-product-wrap product-begreen columns-2">
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"><span class="on-new product-flash">88%</span></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-6.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price">
                                                    <del><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>49.00</span></del><ins><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></ins>
                                                </span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrap product-style_2">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-flash-wrap"></div>
                                            <div class="product-thumb-primary"><img src="~/Content/images/demo/product-8.jpg" alt="product1" width="375" height="450" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div><a href="#" class="product-link">
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            </a>
                                            <div class="product-info">
                                                <div class="star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div><a href="#">
                                                    <h3>Cactus quaerat volupta</h3>
                                                </a><span class="price"><span class="product-begreen-price-amount amount"><span class="product-begreen-price-currencysymbol">$</span>40.00</span></span>
                                            </div>
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-17">
                                                    <div class="yith-wcwl-add-button show"><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></div>
                                                </div>
                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> Add to cart</a></div><a href="#" class="product-quick-view"><i class="fa fa-search"></i>Quick view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-counter equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 equal-elem">
                    <div class="home-11-counter-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="counter-wrap-style_2">
                                    <div class="gr-counter gr-animated style_2 go">
                                        <div class="content-inner">
                                            <div class="icon-wrap"><img src="~/Content/images/demo/icon_noun_9_cc.png" alt="our brandches" /></div>
                                            <div data-from="0" data-to="135" class="gr-number-counter">135</div>
                                            <div class="gr-text-defaul">Quality & Reliability</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="counter-wrap-style_2">
                                    <div class="gr-counter gr-animated style_2 go">
                                        <div class="content-inner">
                                            <div class="icon-wrap"><img src="~/Content/images/demo/icon_growing-plant.png" alt="our brandches" /></div>
                                            <div data-from="0" data-to="126" class="gr-number-counter">126</div>
                                            <div class="gr-text-defaul">Over 10 Years Of Experience</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="counter-wrap-style_2">
                                    <div class="gr-counter gr-animated style_2 go">
                                        <div class="content-inner">
                                            <div class="icon-wrap"><img src="~/Content/images/demo/icon_fertilizer.png" alt="our brandches" /></div>
                                            <div data-from="0" data-to="1200" class="gr-number-counter">1200</div>
                                            <div class="gr-text-defaul">Licensed & Insured</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="counter-wrap-style_2">
                                    <div class="gr-counter gr-animated style_2 go">
                                        <div class="content-inner">
                                            <div class="icon-wrap"><img src="~/Content/images/demo/icon_noun_cc.png" alt="our brandches" /></div>
                                            <div data-from="0" data-to="199" class="gr-number-counter">199</div>
                                            <div class="gr-text-defaul">Expert Operators</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0 hide-991 equal-elem">
                    <div class="home-11-counter-right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-testimonial equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 pd-0 hide-991 equal-elem">
                    <div class="home-11-testimonial-left"></div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0 equal-elem">
                    <div class="home-11-testimonial-right">
                        <h2 class="title-style title-style-1 text-center mb mt-45"><span class="title-left">Test</span><span class="title-right">imonials</span></h2>
                        <div class="home-11-testimonial-left yolo-testimonial testimonial-carousel-3">
                            <div data-number="1" data-margin="100" data-loop="yes" data-navcontrol="no" data-dots="yes" class="testimonial-list begreen-owl-carousel">
                                <div class="testimonial-item">
                                    <div class="testimonial-image"><img src="~/Content/images/demo/testimonial-Img1.jpg" alt="testimonial-Img1" width="345" height="345" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" /></div>
                                    <div class="testimonial-content">
                                        <p class="testimonial-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        <div class="testimonial-title">James D. Stack</div>
                                        <div class="testimonial-position">Businessman</div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testimonial-image"><img src="~/Content/images/demo/testimonial-Img2.jpg" alt="testimonial-Img1" width="345" height="345" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" /></div>
                                    <div class="testimonial-content">
                                        <p class="testimonial-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        <div class="testimonial-title">James D. Stack</div>
                                        <div class="testimonial-position">Businessman</div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="testimonial-image"><img src="~/Content/images/demo/testimonial-Img4.jpg" alt="testimonial-Img1" width="345" height="345" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" /></div>
                                    <div class="testimonial-content">
                                        <p class="testimonial-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        <div class="testimonial-title">James D. Stack</div>
                                        <div class="testimonial-position">Businessman</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="home-11-our-news equal-container">
            <div class="row mg-0">
                <div class="col-md-6 col-sm-12 pd-0 equal-elem">
                    <div class="home-11-our-news-left">
                        <h2 class="title-style title-style-1 text-center mb-45"><span class="title-left">Our </span><span class="title-right">News</span></h2>
                        <div class="recent-news-home_6">
                            <div class="recent-news-container">
                                <article>
                                    <div class="post-thumbnail">
                                        <img src="~/Content/images/demo/blog6-300x203.jpg" alt="blog6" width="300" height="203" class="attachment-medium size-medium wp-post-image" />
                                        <div class="overlay-bg"> </div><a href="#" class="btn-readmore">
                                            <h6 class="span-text">Read more</h6>
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h4 class="entry-title"><a href="#">Choose the plants and pots</a></h4>
                                        <div class="post-info"><span class="post-author"><i class="fa fa-pencil-square-o"></i>admin</span><span class="category-content"><i class="fa fa-tag"></i><a href="#">Planter</a> / <a href="#">Tree</a></span><span class="post-date"><i class="fa fa-calendar"></i>July 15, 2016</span></div>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                                    </div>
                                </article>
                                <article>
                                    <div class="post-thumbnail">
                                        <img src="~/Content/images/demo/blog4-300x203.jpg" alt="blog6" width="300" height="203" class="attachment-medium size-medium wp-post-image" />
                                        <div class="overlay-bg"> </div><a href="#" class="btn-readmore">
                                            <h6 class="span-text">Read more</h6>
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h4 class="entry-title"><a href="#">Lina Skukauke Shopify</a></h4>
                                        <div class="post-info"><span class="post-author"><i class="fa fa-pencil-square-o"></i>admin</span><span class="category-content"><i class="fa fa-tag"></i><a href="#">Planter</a> / <a href="#">Tree</a></span><span class="post-date"><i class="fa fa-calendar"></i>July 15, 2016</span></div>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                                    </div>
                                </article>
                                <article>
                                    <div class="post-thumbnail">
                                        <img src="~/Content/images/demo/blog5-300x203.jpg" alt="blog6" width="300" height="203" class="attachment-medium size-medium wp-post-image" />
                                        <div class="overlay-bg"> </div><a href="#" class="btn-readmore">
                                            <h6 class="span-text">Read more</h6>
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h4 class="entry-title"><a href="#">Connie Saxe Planter</a></h4>
                                        <div class="post-info"><span class="post-author"><i class="fa fa-pencil-square-o"></i>admin</span><span class="category-content"><i class="fa fa-tag"></i><a href="#">Planter</a> / <a href="#">Tree</a></span><span class="post-date"><i class="fa fa-calendar"></i>July 15, 2016</span></div>
                                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pd-0 hide-991 equal-elem">
                    <div class="home-11-our-news-right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-box">
        <div class="slider-clients">
            <div class="container">
                <div data-number="5" data-margin="15" data-loop="no" data-navcontrol="yes" class="begreen-owl-carousel">
                    <div><a href="#"><img src="~/Content/images/demo/client1.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client2.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client3.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client4.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client5.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client2.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client3.png" alt="instagram" /></a></div>
                    <div><a href="#"><img src="~/Content/images/demo/client5.png" alt="instagram" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>